:root {
    --yallow-color: #FFC800;
    --red-color: #FF337E;
    --blue-color: #00B8FF;
    --bg-yallow-color: #ffe00057;
    --gray-color: #323232;
    --padding-space: 120px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;
}

ul li {
    padding: 10px;
}

/* الكلاسس الجاهزة  */
.font-sz1 {
    font-size: clamp(15px, 18px, 5vw);
}

.font-sz3 {
    font-size: clamp(20px, 23px, 5vw);
}

.font-sz5 {
    font-size: clamp(22px, 25px, 5vw);
}

.bg-yallow-color {
    background-color: #fab60a;
}

.bg-blue-color {
    background-color: #3fa8ce;
}

.flex-box {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .flex-box {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
}

.text-justify {
    text-align: justify;
}

.image {
    max-width: 400px;
}

/*-------------------*/
/* Start Main Hero Section */
.main-hero {
    height: 100dvh;
    background-image: url(../img/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(000 000 000 / 60%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-hero .content {
    position: relative;
    color: #fff;
    z-index: 5;
}

@media (max-width: 768px) {

    .main-hero .content {
        text-align: center;
    }
}

/* End Main Hero Section */
/* Start About Tekno Section */
.about-tekno .flex-box.content {
    justify-content: center;
    gap: 60px;
}

.about-tekno .content .text {
    max-width: 450px;
}

.about-tekno .content h3 {
    color: var(--yallow-color);
}

/* End About Tekno Section */
/*START*/
.advantages {
    background-image: url(../img/slid-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    padding-top: var(--padding-space);
    padding-bottom: var(--padding-space);
}

.advantages::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    background-color: rgb(255 255 255 / 10%);
}

.advantages .content {
    position: relative;
    z-index: 2;
    background-color: rgb(255 255 255 / 35%);
    padding: 15px;
    border-radius: 6px;
}

.advantages .container .boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.advantages .boxes .box {
    width: min(300px, 100%);
    text-align: center;

    img {
        transition: all .3s linear;
    }
}

.advantages .boxes .box:hover img {
    transform: scale3d(0.8, 0.8, 0.8);
}

#social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#social-media a {
    display: block;
    width: calc(100% / 3);
    font-size: 25px;
}
/* start */
.join-list{
    padding-top: var(--padding-space);
    padding-bottom: var(--padding-space);
}
/* end */
/*Start Form Style*/
#form .container {
    max-width: 550px;
}

/* --------------------Start Phone Number Css---------------- */
#phone{
    direction: rtl;
}
/* --------------------End Phone Number Css---------------- */
/*End Form Style*/
/* Start */
.form-app {
    position: absolute;
    z-index: 55;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgb(0 0 0 / 24%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-app .container{
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    max-width: 800px;
}

/* End */